<a href="https://colab.research.google.com/github/maralinetorres/temp-780/blob/main/BA780_MTR_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Data

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

youtube = pd.read_csv("YouTube Trending Videos dataset.csv")

In [ ]:
youtube.head()

      video_id  ... publish_year
0  T7Ux7BbkPDw  ...         2018
1  m0zFDr69XFI  ...         2018
2  33xKehpPEd4  ...         2018
3  guzXOdxVAFY  ...         2018
4  OdM4Wh1ssP8  ...         2018

[5 rows x 15 columns]

In [ ]:
youtube['publish_year'] = pd.DatetimeIndex(youtube['publishedAt']).year

## Youtube API

In [ ]:
#install
! pip install google-api-python-client

Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.6/dist-packages (1.7.12)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (0.0.4)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (1.17.2)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client) (50.3.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client) (4.1.1)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth>=1.4.1->google-api-python-client) (0.4.8)

In [ ]:
from googleapiclient.discovery import build
youtubeApiKey = '' 
youtube_api = build('youtube','v3',developerKey=youtubeApiKey)

In [ ]:
snipetts = youtube_api.search().list(part='snippet',type='channel', q='nptelhrd').execute()
#snipetts

## Channel Analysis

### United States

#### Top 5 channels in US for 2018 and 2020

In [ ]:
youtube_us = youtube[youtube['Country'] == 'United States']
channel_views_us = youtube_us.groupby(['channelTitle','Country']).sum().reset_index()
channel_views_us[['channelTitle','Country','view_count']].sort_values(by='view_count', ascending=False).head()

    channelTitle        Country  view_count
49     BLACKPINK  United States  2538592941
670      ibighit  United States  2011897203
376      MrBeast  United States  1433655558
108      Cardi B  United States  1382352355
652     ZaynVEVO  United States   887024205

#### Top 5 channels in 2018

In [ ]:
youtube_2018 = youtube[(youtube['publish_year'] == 2018) & (youtube['Country'] == 'United States')]
channel_views_us_2018 = youtube_2018.groupby(['channelTitle','Country']).sum().reset_index()
channel_views_us_2018[['channelTitle','Country','view_count']].sort_values(by='view_count', ascending=False).head()

    channelTitle        Country  view_count
364      ibighit  United States  2011897203
61       Cardi B  United States   896558471
355     ZaynVEVO  United States   838561451
86         Diplo  United States   700357966
90     DrakeVEVO  United States   583521598

#### Top 5 channels in 2020

In [ ]:
youtube_2020 = youtube[(youtube['publish_year'] == 2020) & (youtube['Country'] == 'United States')]
channel_views_us_2020 = youtube_2020.groupby(['channelTitle','Country']).sum().reset_index()
channel_views_us_2020[['channelTitle','Country','view_count']].sort_values(by='view_count', ascending=False).head()

    channelTitle        Country  view_count
28     BLACKPINK  United States  2522068915
229      MrBeast  United States  1411587353
62       Cardi B  United States   485793884
27     BANGTANTV  United States   441994377
267        Ozuna  United States   385274362

#### Channel Statisitcs for 2020

### Japan

#### Top 5 channels in Japan for 2018 and 2020

In [ ]:
youtube_jp = youtube[youtube['Country'] == 'Japan']
channel_views_jp = youtube_jp.groupby(['channelTitle','Country']).sum().reset_index()
channel_views_jp[['channelTitle','Country','view_count']].sort_values(by='view_count', ascending=False).head()

    channelTitle Country  view_count
77     BLACKPINK   Japan  2844143163
454       SMTOWN   Japan   685791056
62         Apple   Japan   523728736
73     BANGTANTV   Japan   328918868
99       Cardi B   Japan   247810667

#### Top 5 channels in 2018

In [ ]:
youtube_jp = youtube[(youtube['Country'] == 'Japan') & (youtube['publish_year'] == 2018)]
channel_views_jp = youtube_jp.groupby(['channelTitle','Country']).sum().reset_index()
channel_views_jp[['channelTitle','Country','view_count']].sort_values(by='view_count', ascending=False).head()

    channelTitle Country  view_count
589      ibighit   Japan   138038653
373    PewDiePie   Japan    43615630
448       SpaceX   Japan    42450504
99     Coachella   Japan    38740070
158    GOLAZO TV   Japan    24725534

#### Top 5 channels in 2018

In [ ]:
youtube_jp = youtube[(youtube['Country'] == 'Japan') & (youtube['publish_year'] == 2020)]
channel_views_jp = youtube_jp.groupby(['channelTitle','Country']).sum().reset_index()
channel_views_jp[['channelTitle','Country','view_count']].sort_values(by='view_count', ascending=False).head()

   channelTitle Country  view_count
9     BLACKPINK   Japan  2841162351
49       SMTOWN   Japan   666075571
3         Apple   Japan   518280387
8     BANGTANTV   Japan   307984363
13      Cardi B   Japan   247810667